<h1>You are about to be terrified</h1>

<p>
  Booooh <%= @user.email %> ,
  <p>this is an official message from the great beyond. You are about to live a brand new experience from <strong><%= @booking.start_date %></strong> to <strong><%= @booking.end_date %></strong> in <strong><%= @flat.name  %></strong>.</p>

  <p>We will wait for you at <strong><%= @flat.street %></strong>  in <strong><%= @flat.city %></strong>. Until then have terrible nightmares.</p>

  <p>Kindly,</p>

  <p>The Spooky HauntedBnb Team a.k.a ALOMA</p>

</p>