<h1>You are about to be terrified</h1>

<p>
  Booooh <%= @user.email %> , this is an official message from the great beyond. You are about to live a brand new experience from <%= @booking.start_date %> to <%= @booking.end_date %> in
</p>


<ul>
<li><strong>From</strong> <%= @booking.start_date %> <strong>to</strong> <%= @booking.end_date %></li>
<li> @flat.name </li>
</ul>