<div class="container">
<h1>All the spooky Places...</h1>




<div class="row">

<% @flats.each do |flat| %>
   <div class="col-xs-6">
    <div class="thumbnail", id="padding_row">
    <img src="http://www.ht-real-estate.com/template/ht2014/images/landscape/05.jpg" alt="missing">
     <div class="caption">
       <h3><%= flat.name.truncate_words(2) %></h3>
       <p>EUR <%= flat.price %></p>
       <p><%= flat.city %></p>
       <p><%= link_to 'Details', flat, :class => "btn btn-default" %>  <%= link_to 'Book', new_flat_booking_path(flat), :class => "btn btn-primary" %></p>
     </div>

   </div>

 </div>
 <% end %>
</div>

</div>



