<div class='container'>
  <div class="row">
<% @flat.pictures.each do |pic| %>
<div class="col-xs-5">
  <%= image_tag pic.image.url(:medium) %>
  <p class="text-center"><%= link_to 'Destroy', flat_picture_path(@flat, pic), :class => 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>
</div>
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<div class="panel panel-primary">
  <div class="panel-heading"><%= @flat.name %></div>
  <div class="panel-body">
    <p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<p>
  <strong>Street:</strong>
  <%= @flat.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @flat.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @flat.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @flat.zipcode %>
</p>
  <div class="row">
    <% @flat.pictures.each do |pic| %>
    <div class="col-xs-3">
    <%= image_tag pic.image.url(:thumb) %>
  </div>
    <% end %>
  </div>
  </div>

</div>
<div class="panel panel-primary">
  <div class="panel-heading"> Available dates </div>
  <div class="panel-body">
   <% @flat.availabilities.each do |availability| %>
  <li><strong>From</strong> <%= availability.start_date %> <strong>to</strong> <%= availability.end_date %></li>
  <% end %>

</div>
</div>
<p><%= link_to 'Back', flats_path, :class => "btn btn-default" %>
  <%= link_to 'Book this haunted flat', new_flat_booking_path(@flat), :class => "btn btn-primary" %> </p>
</div>

</div>

</div>