<h1 id="title">The best places to be scared...</h1>

<div class="container text-center">
<%= link_to("All the flats", flats_path, class: "btn btn-sample") %>
</div>

<%= video_tag "ghost.mp4" , :autoplay => true, :loop => true, :class => "vidb" %>

<div id="search-box">
 <%= form_tag(flats_path, :method => "get", id: "search-box") do %>
   <%= text_field_tag :city, params[:city], placeholder: "Search for cities" %>
   <%= submit_tag "Dare to be spooked", :name => nil, class: "btn btn-danger" %>
 <% end %>
</div>


