<div class="container">
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<div class="panel panel-primary">
  <div class="panel-heading">Current availabilities for <%= @flat.name  %></div>
  <div class="panel-body">

<ul>
  <% @availabilities.each do |availability| %>
  <li>From <%= availability.start_date %> to <%= availability.end_date %></li>
  <% end %>
</ul>

</div>
</div>
</div>
</div>

<div class="col-xs-6 col-xs-offset-3">
<div class="panel panel-primary">
  <div class="panel-heading">Create a new availability</div>
  <div class="panel-body">

<%= simple_form_for [@flat, @availability] , :html => { :class => 'form-inline' } do |f| %>
<p> <%= f.input :start_date %> </p>
<p><%= f.input :end_date %> </p>
<p><%= f.button :submit , :class => 'btn btn-primary' %> <%= link_to("Back", :back , :class => 'btn btn-primary') %> </p>

<% end %>
</div>
</div>



</div>
</div>